<section class="admin-posts">
  <h1 class="admin-posts__title">Post Management</h1>
  <%= link_to "Add New Post", new_admin_post_path, class: "admin-posts__add-button" %>
  <table class="admin-posts__table">
    <thead>
      <tr>
        <th class="admin-posts__table-header">ID</th>
        <th class="admin-posts__table-header">Title</th>
        <th class="admin-posts__table-header">Slug</th>
        <th class="admin-posts__table-header">Status</th>
        <th class="admin-posts__table-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="admin-posts__table-cell"><%= post.id %></td>
          <td class="admin-posts__table-cell"><%= post.title %></td>
          <td class="admin-posts__table-cell"><%= post.slug %></td>
          <td class="admin-posts__table-cell"><%= post.status.capitalize %></td>
          <td class="admin-posts__table-cell">
            <div class="admin-posts__table-cell-buttons">
              <%= admin_action_button edit_admin_post_path(post), 'edit-icon.svg', 'Edit', class: 'admin-posts__action-button' %>
              <%= admin_action_button admin_post_path(post), 'trash-icon.svg', 'Delete', method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-posts__action-button' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="admin-posts__pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</section>