<section class="admin-posts">
  <h1 class="admin-posts__title">Post Management</h1>
  <%= link_to new_admin_post_path, class: "admin-posts__add-button" do %>
    <%= inline_svg "add-ellipse.svg", class: "admin-posts__add-button-icon" %>
    Add New Post
  <% end %>
  <table class="admin-posts__table">
    <thead>
      <tr>
        <th class="admin-posts__table-header">ID</th>
        <th class="admin-posts__table-header">Title</th>
        <th class="admin-posts__table-header">Slug</th>
        <th class="admin-posts__table-header">Status</th>
        <th class="admin-posts__table-header">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="admin-posts__table-cell"><%= post.id %></td>
          <td class="admin-posts__table-cell">
            <%= link_to admin_post_path(post), class: "admin-posts__title-link" do %>
              <%= post.title %>
            <% end %>
          </td>
          <td class="admin-posts__table-cell"><%= post.slug %></td>
          <td class="admin-posts__table-cell"><%= post.status.capitalize %></td>
          <td class="admin-posts__table-cell">
            <div class="admin-posts__table-cell-buttons">
              <%= link_to edit_admin_post_path(post), class: "admin-posts__action-link-Edit" do %>
                <%= inline_svg 'edit-icon.svg', class: 'admin-posts__icon' %>
                Edit
              <% end %>
              <%= button_to admin_post_path(post), method: :delete, class: "admin-posts__action-link-Delete", data: { confirm: "Are you sure you want to delete this post?" } do %>
                <%= inline_svg 'trash-icon.svg', class: 'admin-posts__icon' %>
                <span class="admin-posts__action-text">Delete</span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="admin-posts__pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</section>