<section class="posts-container" id="posts-container">
  <div class="category-bar-flex">
    <%= posts_header(@category) %>
    <figure class="categories-bar-container">
      <div class="category-selectors">
        <%= render_category_links(@category) %>
      </div>
    </figure>
  </div>
  
  <% if @posts.any? %>
    <%= render @posts %>

    <% if @pagy.next %>
      <div class="load-more-container">
        <button 
          class="load-more"
          data-controller="load-more"
          data-action="click->load-more#loadMore"
          data-load-more-url-value="<%= posts_path(category: @category, page: @pagy.next, format: :json) %>"
        >
          <span class="load-more-text">Load more</span>
          <%= image_tag "next-arrow-circle.svg", alt: "Load More Arrow", class: "load-more-icon" %>
        </button>
      </div>
    <% end %>
  <% else %>
    <h2>Nothing here yet...</h2>
    <p>I guess I better get to work. Try another category or check back soon!</p>
  <% end %>
</section>
