<section class="posts-container">
  <figure class="categories-bar-container">
    <div class="title-container">
      <div class="unbounded-table-header">Categories</div>
      <%= image_tag "question-filled.svg", class: "question-filled", alt: "text" %>
    </div>
    <div class="category-selectors">
      <%= render_category_links(@category) %>
    </div>
  </figure>
  <%= posts_header(@category) %>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="post">
        <p class="unbounded-date-text" style=""><%= post.created_at %></p>
        <h2 class="unbounded-title-text"><%= link_to post.title, post_path(post) %></h2>
        <p><%= truncate(post.content, length: 100) %></p>
        <%= link_to 'Read More', post_path(post) %>
      </div>
    <% end %>
  <% else %>
    <h2>Nothing here yet...</h2>
    <p>I guess I better get to work. Try another category or check back soon!</p>
  <% end %>
</section>
