<section class="welcome-section">
  <%= image_tag "it-me.png", alt: "It's Davis!", class: "welcome-img" %>
  <div class="welcome-content-container">
    <h1 class="welcome-title">Welcome!</h1>
    <p class="welcome-text">I'm Davis, a SWE exploring the universe of software. Welcome to my blog, where I share insights, projects, and tutorials. Dive in and enjoy your stay!</p> 
    <div class="welcome-links">
      <a href="https://www.dw-portfolio.com/" target="_blank" rel="noopener noreferrer" title="Visit My Website">
        <%= inline_svg_tag "website-icon.svg", class: "welcome-icon-website" %>
      </a>
      <a href="https://github.com/Dav1s-Ops" target="_blank" rel="noopener noreferrer" title="Visit My GitHub">
        <%= inline_svg_tag "github-icon.svg", class: "welcome-icon-github" %>
      </a>
      <a href="https://www.linkedin.com/in/davis-weimer" target="_blank" rel="noopener noreferrer" title="Visit My LinkedIn">
        <%= inline_svg_tag "linkedin-icon.svg", class: "welcome-icon-linkedin" %>
      </a>
    </div>
  </div>
</section>
<section class="posts-container" id="posts-container">
  <section class="category-bar-flex" data-controller="categories-bar">
    <%= posts_header(@category) %>
    <figure 
      class="categories-bar-container"
      data-categories-bar-target="categoriesBar"
    >
      <div class="category-selectors">
        <%= render_category_links(@category) %>
      </div>
    </figure>
  </section>
  <% if @posts.any? %>
    <%= render @posts %>
    <% if @pagy.next %>
      <div class="load-more-container">
        <button 
          class="load-more"
          data-controller="load-more"
          data-action="click->load-more#loadMore"
          data-load-more-url-value="<%= posts_path(category: @category, page: @pagy.next, format: :json) %>"
          >
          <span class="load-more-text">Load more</span>
          <%= image_tag "next-arrow-circle.svg", alt: "Load More Arrow", class: "load-more-icon" %>
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="nothing-here-container">
      <%= inline_svg_tag "missing-data-icon.svg", alt: "Nothing here..", class: "nothing-here-icon"  %>
      <div class="text-container">
        <div class="nothing-here-title">Nothing here yet..</div>
        <div class="nothing-here-description">
          I'll get to this topic soon, try another category and check back later!
        </div>
      </div>
    </div>
  <% end %>
</section>